name: Testing

on: push

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.8', '3.10', '3.11']

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: pip install colorama pyflakes

    - name: Lint
      run: pyflakes .

    - name: Unit tests
      run: python -m unittest discover ./test
